/*
    Header Background: #5a6e87
    Text colors : #ebf5f6
    Main Background : #040000

*/




.text{
    color: #ebf5f6;
}


.Header{
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    margin-bottom: 200px;
    display: flex;
    height: 20%;
    flex-direction: column;
    flex-wrap:nowrap;
    flex-flow: row;
    background-color: #5a6e87;
    align-items: flex-start;
    justify-content:baseline;
    gap: 5%;
}

.Header .WebpageTitleAndLogo{
    position: relative;
    display: flex;
    height: 80%;
    flex-direction: row;
    flex-flow: row;
    gap: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0.5%;
    padding: 0.5%;
    background-color: inherit;
    align-items: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: baseline;
}
.Header .WebpageTitleAndLogo #ReaperImage{
    height: 100%;
}
.Header .WebpageTitleAndLogo #SiteTitle{
    align-self: top;

    
}
.Header .LinkBlocks{
    display: flex;
    flex-direction: row;
    flex: auto;
    flex-grow: 4;
    flex-shrink: 4;
    height: 80%;
    margin: 0.5%;
    flex-flow: wrap;
    gap:10%;
    background-color: inherit;
    flex-grow: 3;
    flex-shrink: 3;
    padding: 0.5%;
}
.Header .LinkBlocks button, .LinkBlocksPhone button{
    height: fit-content;
    width: 100px;
    text-align: center;
    box-shadow: 2px 5px  #2d3641;
    background-color: #040000;
    border-radius: 20px;
    color: #ebf5f6;
}
.Header .LinkBlocks button:hover, .LinkBlocksPhone button:hover{
    box-shadow: 2px 5px 3px #2d3641;
}
.Header .LinkBlocks button:active, .LinkBlocksPhone button:active{
    box-shadow: 1px 1px #040000;
}
a {
    color: #ebf5f6;
    text-decoration: none;
}

h2 {
    background-color: #2d364152
}
h3 {
    background-color: #2d36413f;
}

.content{
    position: fixed;
    top: 20%;
    left: 0;
    padding: 0.5%;
    z-index: -1;
    width: 100%;
    background-color: #040000;
    height: 80%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: 0px;
    -ms-overflow-style: none;
}
.content::-webkit-scrollbar{
    display: none;
}

#HiddenButtonsList {
    position:static;
    translate: -40px;
    list-style-type:none;
}

@media (max-width: 700px) {
    .Header .LinkBlocks{
        display: none;
    }
    .Header .LinkBlocksPhone{
        position: relative;
        translate: -120px 80px;
        display: flex;
        flex-direction: row;
        flex: auto;
        height: 80%;
        margin: 0.5%;
        flex-flow: wrap;
        gap:10%;
        background-color: transparent;
        flex-grow: 3;
        flex-shrink: 3;
        padding: 0.5%;
        align-items: start;
    }
}





@media(min-width: 701px){
    .Header .LinkBlocks{
        display: flex;
        flex-direction: row;
        flex: auto;
        flex-grow: 4;
        flex-shrink: 4;
        height: 80%;
        margin: 0.5%;
        flex-flow: wrap;
        gap:10%;
        background-color: inherit;
        flex-grow: 3;
        flex-shrink: 3;
        padding: 0.5%;
    }
    .Header .LinkBlocksPhone{
        display: none;
    }
}